ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_BASE_URL=
ANTHROPIC_DEFAULT_FABLE_MODEL=
ANTHROPIC_DEFAULT_HAIKU_MODEL=
ANTHROPIC_DEFAULT_OPUS_MODEL=
ANTHROPIC_DEFAULT_SONNET_MODEL=
ANTHROPIC_MODEL=
API_TIMEOUT_MS=
CLAUDE_CODE_AUTO_COMPACT_WINDOW=
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=
CLAUDE_CODE_EFFORT_LEVEL=
CLAUDE_CODE_MAX_CONTEXT_TOKENS=
CLAUDE_CODE_SUBAGENT_MODEL=
ENABLE_TOOL_SEARCH=
FORCE_AUTOUPDATE_PLUGINS=
Z_AI_API_KEY=
